<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                23에 문득 컴퓨터 공학이라는 학문을 접하게 되어, 컴퓨터 공학을 하면서 많이 실패했습니다. 인문계에 익숙했던 저에게 논리와 컴퓨터는 많이 어려웠지만 아무것도 이루지 못하고 군대에 갔습니다. 군대에서 전역하고 뭐하면서 살지 사회에 대한 생각을 하다가 통신병으로 근무하면서 통신기기와 인터넷에 대해 흥미를 느끼게 되었고, 다른 부대의 통신기기와 인터넷을 고쳐주면서 인터넷에 대해 더 알아봐야 겠다고 생각하고 공부를 시작했습니다. 물론 짧은 연등시간이었지만,
                군 생활 알차게 보내게 되었고 사회에 나가게 되었습니다. 현재는 풀스택 개발자가 되기 위해 프론트엔드 기술과 백엔드 기술을 아울러서 배우고 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday
                basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>.
                My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>